In [16]:
# Import packages
from selenium import webdriver
import time
import pandas as pd
import os

from selenium.webdriver.chrome.service import Service
from selenium.webdriver.support.select import Select
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC

In [17]:
url_path ="https://www.linkedin.com/jobs/search?keywords=Python%20Developer&location=canada&geoId=&trk=public_jobs_jobs-search-bar_search-submit&position=1&pageNum=0"

In [18]:
# Setting selenium
service = Service(executable_path="driver//chromedriver.exe")
driver = webdriver.Chrome(service=service)
# Open web pages
driver.get(url_path)
time.sleep(10)

In [19]:
total_job_rs = driver.find_element(By.CLASS_NAME,"results-context-header__job-count").text.replace(",","")
total_job = pd.to_numeric(total_job_rs.replace("+",""))

In [20]:
print(total_job)

1000

In [21]:
positions = []
companies = []
locations = []
activities = []
datepublish = []

In [22]:
# Pagining
pages = 1
if total_job > 50:
    pages = total_job / 50
    
print(f"total pages {pages}")

total pages 20.0

In [23]:
i=1
while i <= pages:
    driver.execute_script("window.scrollTo(0, document.body.scrollHeight);")
    i = i + 1
    try:
        btn = driver.find_element(By.CLASS_NAME,"infinite-scroller__show-more-button infinite-scroller__show-more-button--visible")
        driver.execute_script("arguments[0].click();", btn)
        time.sleep(30)
    except:
        time.sleep(3)
        
    
print('done')

done

In [24]:
 # Startin fill data
ul = driver.find_element(By.CLASS_NAME,"jobs-search__results-list")
# print(ul2.text)
elements = ul.find_elements(By.TAG_NAME, 'li')
# e = elements[0].text.split('\n')
# print(len(e))
for i in range(len(elements)):
    elem = elements[i].text.split('\n')
    if len(elem) == 6:
        positions.append(elem[1])
        companies.append(elem[2])
        locations.append(elem[3])
        activities.append(elem[4])
        datepublish.append(elem[5]) 
    elif len(elem) == 5:
        positions.append(elem[1])
        companies.append(elem[2])
        locations.append(elem[3])
        activities.append("")
        datepublish.append(elem[4])
    elif len(elem) == 4:
        positions.append(elem[0])
        companies.append(elem[1])
        locations.append(elem[2])
        activities.append("")
        datepublish.append(elem[3])
    else:
        positions.append("")
        companies.append("")
        locations.append("")
        activities.append("")
        datepublish.append("")

In [25]:
dict_data = {'Position':positions, 'Companies':companies, 'Location':locations, 'Activity': activities, 'Date_Publish':datepublish}

In [26]:
df = pd.DataFrame(dict_data)

In [27]:
df.count()

Position        450
Companies       450
Location        450
Activity        450
Date_Publish    450
dtype: int64

In [28]:
df.head()

,Position,Companies,Location,Activity,Date_Publish
0,Python Developer,Zortech Solutions,"Toronto, Ontario, Canada",Actively Hiring,2 months ago
1,Python Developer - Toronto (Hybrid),Zortech Solutions,"Toronto, Ontario, Canada",Actively Hiring,2 months ago
2,Python Programmer,ClifyX,"Brampton, Ontario, Canada",Be an early applicant,3 weeks ago
3,Mid Level-Python Developer- Canada,Zortech Solutions,Canada,Actively Hiring,3 months ago
4,Software Developer (Python),Visier Inc.,"Vancouver, British Columbia, Canada",Actively Hiring,2 weeks ago

In [29]:
df.tail()

,Position,Companies,Location,Activity,Date_Publish
445,Senior Backend Engineer - Product (Toronto),US Mobile,"Toronto, Ontario, Canada",Actively Hiring,12 months ago
446,Ingénieur Full Stack- REMOTE,Cisco Meraki,Canada,Actively Hiring,3 days ago
447,Senior Fullstack Developer,Scotiabank,"Toronto, Ontario, Canada",Actively Hiring,1 week ago
448,Senior Backend Software Engineer,Maxis Studios - EA,"Toronto, Ontario, Canada",,2 days ago
449,Senior Java Fullstack developer,Iris Software Inc.,"Toronto, Ontario, Canada",Actively Hiring,21 hours ago

In [30]:
excel_filename = "datasets//linkedinjobsdetails.xlsx"
df.to_excel(excel_filename, index=True)
print(f"Data has been exported to {excel_filename} succefully.")

Data has been exported to datasets//linkedinjobsdetails.xlsx succefully.